{% extends 'base.html' %}

{% block head %}
<title>{{object}}</title>
{% endblock head %}

{% block nav %}
{% include 'inc/nav.html' %}
{% endblock nav %}

{% block content %}
<div class="content">
    <div class="manage-category">
        <a href="{% url 'category:edit' pk=object.pk %}">Edit</a>
        -
        <a href="{% url 'category:delete' pk=object.pk %}">Delete</a>
    </div>
    <div class="vocabs">
        {% for obj in object.vocabs.all %}
        {% include 'inc/box.html' %}
        {% endfor %}
    </div>
</div>
{% endblock content %}


{% block js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <script src="https://code.responsivevoice.org/responsivevoice.js?key=wxAEnWIJ"></script>
{% endblock js %}
    