{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>{{object}}</title>
{% endblock head %}


{% block content %}
<div class="content">
    <div class="manage-category">
        <a href="{% url 'category:edit' pk=object.pk %}">Edit</a>
        -
        <a href="{% url 'category:delete' pk=object.pk %}">Delete</a>
    </div>
    <div class="vocabs">
        {% for obj in object.vocabs.all %}
        {% include 'inc/box.html' %}
        {% endfor %}
    </div>
</div>
{% endblock content %}


{% block js %}
<script src="{% static 'js/view.js' %}?{% now 'U' %}"></script>
<!-- <script src="https://code.responsivevoice.org/responsivevoice.js?key=wxAEnWIJ"></script> -->
{% endblock js %}
    