/* l => #967edc ,#5193dd */
/* #ee6887 , #d6d5da, #acadb5*/

body {
    color: #acadb5;
}

a {
    color: #acadb5;
}

.container {
    display: flex;
    overflow: hidden;
}

.content {
    flex: 80%;
}

.side {
    flex: 20%;
    background: #1c1c2721;
    overflow: hidden;
    transition: .8s;
}

.side-title {
    text-align: center;
    margin: 20px 0;
    font-size: 18px;
}

.side .border {
    width: 100%;
    height: 2px;
    background-color: #acadb552;
    margin: 20px 0;
}

.items>div {
    margin: 20px;
}

.categories {
    margin: 20px;
}

.categories>div:last-child li {
    margin: 20px;
}

.categories a {
    color: #acadb5;
}

@media only screen and (max-width: 850px) {
    .side {
        flex: none;
        width: 0;
    }

    .side-title {
        margin: 20px 0 10px 0;
    }

    .border {
        display: none;
    }

    .vocabs {
        margin-top: 30px;
    }

    .box {
        margin: 0 10px 10px 0;
    }
}

@media only screen and (max-width: 740px) {
    .vocabs {
        justify-content: center;
    }
}