* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background-color: #2e303e;
    font-family: sans-serif;
    color: #fff;
}

nav {
    height: 60px;
    display: flex;
    align-items: center;
}

nav>a {
    background: linear-gradient(90deg, #1c1c2753, #1c1c27, 80%, #323347);
    color: #fff;
    border-radius: 5px;
    padding: 10px;
    margin: 0 0 0 10px;
}

.vocabs {
    display: flex;
    flex-wrap: wrap;
    margin: 0 30px;
}

.box {
    width: 500px;
    margin: 4px;
    border-radius: 6px;
    background: #21222c;
    color: #d6d5da;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
    padding: 5px;
}

.manage-category {
    margin: 30px;
}

.manage-category>a {
    color: #bfcfff;
}

.text {
    color: #ee6887;
    display: flex;
    align-items: center;
}

.text button {
    background-color: #44444f;
    color: #fff;
    font-size: 13px;
}

.manage {
    display: flex;
    align-items: center;
}

.manage>div[class="mr"] {
    padding: 5px 10px;
}

.manage>div {
    border-radius: 3px;
    background-color: #36bc98;
    box-shadow: 0 0 2px 2px #44444f;
    margin: 10px;
}

.manage a {
    color: #fff;
}

.mb {
    padding: 5px 10px;
}

.date>span {
    color: #c1c1c1;
    font-size: 12px;
    margin: 3px;
    display: inline-block;
}

.mr {
    margin: 10px 10px 10px 3px;
}

.add,
.delete,
.edit,
.register {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.register {
    flex-direction: column;
    align-items: center;
}

form>p {
    margin-bottom: 10px;
    color: #bfcfff;
}

form input {
    background-color: #323347;
    color: #fff;
    border: 1px solid #121212;
    padding: 5px;
    outline: none;
}

form input[type=submit] {
    background-color: #967edc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 7px;
    font-size: 16px;
    font-family: sans-serif;
}

.form-btn {
    background-color: #967edc;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 7px;
    font-size: 16px;
    font-family: sans-serif;
    color: #fff;
    width: 60px;
    height: 30px;
}

textarea {
    background-color: #323347;
    border: 1px solid #121212;
    outline: none;
    padding: 5px;
    color: #fff;
}

.btn-linear {
    background: linear-gradient(90deg, #967edc, #5193dd);
}

.viewed {
    background: none;
    color: #fff;
    font-family: sans-serif;
    cursor: pointer;
    width: 60px;
    height: 30px;
}

.random_review {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px;
}

.control {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.control>div:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
}

.control a {
    color: #d6d5da;
    margin: 0 10px;
}

.control button {
    margin: 0 10px;
    background: linear-gradient(90deg, #967edc, #5193dd);
    color: #fff;
}

.btn {
    border: none;
    border-radius: 5px;
    padding: 5px 7px;
    cursor: pointer;
    font-size: 15px;
}

.content-list {
    margin-top: 30px;
}


.pagination {
    text-align: center;
    margin: 30px;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pagination a {
    color: #fff;
}

.icon {
    width: 50px;
    -webkit-filter: invert(100%);
    /* Safari/Chrome */
    filter: invert(100%);
}

.pronunciation>img {
    width: 25px;
    cursor: pointer;
}

.s-f {
    display: none;
    background-color: #323347;
    position: fixed;
    top: 50%;
    left: 50%;
    height: 90%;
    width: 80%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.s-f>.m {
    margin: 30px 0;
}

.sort {
    color: #fff;
}

.sort>div {
    margin: 10px auto;
}

.sort a {
    color: #bfcfff;
    display: block;
    margin-top: 10px;
}

.filter-btn {
    margin: 10px 10px 10px 30px;
}

.filter-btn button {
    background-color: #36bc98;
    color: #d6d5da;
}

.close {
    margin: 20px;
    text-align: right;
}

.close>span {
    font-size: 25px;
    cursor: pointer;
}

.convert>a {
    color: #bfcfff;
    display: block;
    margin-top: 10px;
}

.translation {
    height: 0;
    transition: .5s;
    overflow: hidden;
}

.translation.active {
    height: 20px;
}


.s-f.active {
    display: block;
    z-index: 1;
}


.dic-box {
    display: inline-block;
    text-align: center;
    padding: 20px;
}

.dic-box>div {
    margin: 10px 0;
}

.category {
    padding: 10px;

}

.ca-title {
    margin-bottom: 20px;
}

.ca-title>a {
    color: #ee6887;
}

@media only screen and (max-width: 850px) {
    nav {
        margin-left: 0;
    }

    nav>div {
        margin-left: 10px;
        cursor: pointer;
    }

    .nav-btn>div {
        background-color: #acadb5;
        width: 30px;
        height: 2px;
        margin: 6px 0;
    }
}

@media only screen and (max-width:500px) {
    .to {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .to>a {
        margin-bottom: 10px;
    }
}

@media only screen and (max-width:743px) {
    .vocabs {
        justify-content: center;
    }

    .filter-btn {
        text-align: center;
        margin: 10px 0;
    }

    .manage-category {
        text-align: center;
        margin: 20px;
    }
}

.alert {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 12px 16px;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    margin-bottom: 12px;
    font-size: 16px;
}

.close-message {
    width: 30px;
    height: 30px;
    opacity: 0.5;
    border-width: 1px;
    border-style: solid;
    border-radius: 50%;
    right: 15px;
    top: 25px;
    text-align: center;
    font-size: 1.6em;
    cursor: pointer;
}

.alert.alert-success {
    background-color: rgba(227, 253, 235, 1);
    border-color: rgba(38, 179, 3, 1);
    color: rgba(60, 118, 61, 1);
}

.alert.alert-info {
    background-color: rgba(217, 237, 247, 1);
    color: rgba(49, 112, 143, 1);
    border-color: rgba(126, 182, 193, 1);
}


.alert.alert-warning {
    background-color: rgba(252, 248, 227, 1);
    border-color: rgba(177, 161, 129, 1);
    color: rgba(138, 109, 59, 1);
}

.alert.alert-error {
    background-color: rgba(248, 215, 218, 1);
    border-color: rgba(220, 53, 69, 1);
    color: rgba(114, 28, 36, 1);
}