{% extends 'base.html' %}
{% block head %}
{% load static %}
<title>add</title>
{% endblock head %}

{% block content %}
<div class="add">
    <form method="post">
        <p id="word-check"></p>
        {% csrf_token %}
        {{form.as_p}}
        <button class="form-btn">
            <span class="btn-text">Add</span>
            <span class="loader btn-pending"></span>
        </button>
    </form>
</div>
{% endblock content %}

{% block js %}
<script src="{% static 'js/translateVocab.js'%}?{% now 'U' %}"></script>
{% endblock js %}