{% extends 'base.html' %}

{% block head %}
<title>dahboard</title>
{% endblock head %}

{% block nav %}
{% include 'inc/nav.html' %}
{% endblock nav %}


{% block content %}

<div class="content">
    <div class="vocabs">
        {% for obj in obj_list %}
        <div class="box">
            <div>
                <div class="text mr">
                    <div class="mr"><span>{{obj.text}}</span></div>
                    <div class="mr">
                        <button>see trns</button>
                    </div>
                </div>
                <div class="translation mr">
                    <span>{{obj.translation}}</span>
                </div>
            </div>
            <div>
                <div class="info">
                    <div class="mr">
                        <span>type : {{obj.type}}</span>
                    </div>
                    <div class="mr">
                        <span>review count : {{obj.review_count}}</span>
                    </div>
                </div>
                <div class="manage">
                    <div class="mr">
                        <a href="{% url 'core:edit' pk=obj.pk %}">Edit</a>
                    </div>
                    <div class="mr">
                        <a href="{% url 'core:delete' pk=obj.pk %}">Delete</a>
                    </div>
                    <div class="mr">
                        <a href="{% url 'core:delete' pk=obj.pk %}">Viewed</a>
                    </div>
                </div>
                <div class="date">
                    <span>{{obj.created|date:"M d, Y"}}</span>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock content %}