{% extends 'base.html' %}

{% block head %}
<title>dahboard</title>
{% endblock head %}

{% block nav %}
{% include 'inc/nav.html' %}
{% endblock nav %}



{% block content %}
<a href="{% url 'core:add' %}">Add+</a>
<a href="{% url 'core:list' %}">List</a>
<hr>

<div class="content">

    {% for word in words %}
    <div>
        <div><a href="{% url 'core:detail' pk=word.pk %}">{{word}}</a></div>
        <div>
            <a href="{% url 'core:edit' pk=word.pk %}">Edit</a>
            <a href="{% url 'core:delete' pk=word.pk %}">Delete</a>
        </div>
    </div>
    {% endfor %}

</div>
{% endblock content %}