{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" href="{% static 'css/dashboard.css' %}?{% now 'U' %}">
<title>dahboard</title>
{% endblock head %}

{% block nav %}
{% include 'inc/nav.html' %}
{% endblock nav %}


{% block content %}

<div class="container">
    <div class="content">
        <div class="vocabs">
            {% for obj in obj_list|slice:"20" %}
            <div class="box">
                <div>
                    <div class="text mr">
                        <div class="mr">{{forloop.counter}}</div>
                        <div class="mr"><span>{{obj.text}}</span></div>
                        <div class="mr ">
                            <button class="btn accordion" data-box="translation">see trns</button>
                        </div>
                    </div>
                    <div class="translation mr close-box">
                        <span>{{obj.translation}}</span>
                    </div>
                </div>
                <div>
                    <div class="info">
                        <div class="mr">
                            <span>type : {{obj.type}}</span>
                        </div>
                        <div class="mr">
                            <span>review count :</span> <span class="review-count"> {{obj.review_count}}</span>
                        </div>
                    </div>
                    <div class="manage">
                        <div class="mr">
                            <a href="{% url 'core:edit' pk=obj.pk %}">Edit</a>
                        </div>
                        <div class="mr">
                            <a href="{% url 'core:delete' pk=obj.pk %}">Delete</a>
                        </div>
                        <div>
                            <input type="hidden" name="pk" value="{{obj.pk}}">
                            <button class="btn viewed random-review" data-review="list">Viewed</button>
                        </div>
                    </div>
                    <div class="date">
                        <span>{{obj.created|date:"M d, Y"}}</span>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    <div class="side">
        <div class="items">
            <div>
                <a href="{% url 'core:add' %}">Add+</a>
            </div>
            <div>
                <a href="{% url 'core:list' %}">List</a>
            </div>
            <div>
                <a href="{% url 'core:random' %}">Random review</a>
            </div>
            <div>
                <a href="{% url 'category:add' %}">Add Category</a>
            </div>
        </div>
        <div class="categories">
            <div>
                <span>{{categories.count}} Categories</span>
            </div>
            <div>
                {% for obj in categories %}
                    <div class="category">
                        <a href="">{{obj}}</a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="{% static 'js/view.js' %}?{% now 'U' %}"></script>
<script src="{% static 'js/app.js' %}?{% now 'U' %}"></script>
{% endblock js %}