{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>list of vocabulary</title>
{% endblock head %}

{% block content %}
<div>

    {% for vocab in object_list %}
    <div>
        <div>{{vocab.text}}</div>
        <div>{{vocab.translation}}</div>
        <div class="view-count">{{vocab.review_count}}</div>
        <div>{{vocab.type}}</div>
        <div>{{vocab.created}}</div>
        <div>
            <input type="hidden" name="pk" value="{{vocab.pk}}">
            <button class="viewed">Viewed</button>
        </div>
    </div>
    <hr>
    {% endfor %}

</div>
{% endblock content %}

{% block js %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="{% static 'js/view.js' %}"></script>
{% endblock js %}