{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}

{% block head %}
<title>list of vocabulary</title>
{% endblock head %}


{% block content %}
<div class="content-list">
    <div class="filter-btn">
        <button class="btn accordion" data-box="filter">Filter&Sort</button>
    </div>
    <div class="s-f">
        <div class="close"><span>&#x2715;</span></div>
        <div class="filters m">
            <form method="get">
                {{ filter_form.as_p }}
                <input type="submit" value="filter" />
            </form>
        </div>
        <div class="sort m">
            <div>
                <span>Date:</span>
                <a href="{{request.get_full_path|url}}sort_by=-created">
                    The newest
                </a>
                <a href="{{request.get_full_path|url}}sort_by=created">
                    The oldest
                </a>
            </div>
            <div>
                <span>Review count:</span>
                <a href="{{request.get_full_path|url}}sort_by=-review_count">
                    The most
                </a>
                <a href="{{request.get_full_path|url}}sort_by=review_count">
                    The least
                </a>
            </div>
        </div>
        <div class="convert m">
            <a href="{{request.get_full_path|url}}ln=fa">Farsi To English</a>
            <a href="{{request.get_full_path|url}}ln=en">English To Farsi</a>
        </div>
    </div>
    <div>
        <div class="vocabs">
            {% for obj in page_obj %}
            {% include 'inc/box.html' %}
            {% endfor %}
        </div>
        <div class="pagination">
            {% if page_obj.has_previous %}
            <a href="{{request.get_full_path|url}}page=1">first</a>
            <a href="{{request.get_full_path|url}}page={{ page_obj.previous_page_number }}"><img
                    src="https://img.icons8.com/carbon-copy/100/000000/circled-chevron-left.png" /></a>
            {% endif %}
            <span class="current">
                {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
            </span>
            {% if page_obj.has_next %}
            <a href="{{request.get_full_path|url}}page={{ page_obj.next_page_number }}"><img
                    src="https://img.icons8.com/carbon-copy/100/000000/circled-right-2.png" /></a>
            {% endif %}
            <a href="{{request.get_full_path|url}}page={{ page_obj.paginator.num_pages }}">last</a>
        </div>
    </div>
</div>

{% endblock content %}

{% block js %}
<script src="{% static 'js/view.js' %}?{% now 'U' %}"></script>
<script src="https://code.responsivevoice.org/responsivevoice.js?key=wxAEnWIJ"></script>
{% endblock js %}