{% extends 'base.html' %}
{% load static %}
{% block head %}
<title>{{obj.word}}</title>
{% endblock head %}

{% block content %}
<div class="random_review">
    {% include 'inc/box.html' %}
    <div class="control">
        <div>
            <button id="next" class="btn-linear btn" >
                <span class="btn-text">Next</span>
                <span class="loader btn-pending"></span>
            </button>
            <div class="mr">
                <input type="hidden" name="pk" value="{{obj.pk}}">
                <button class="btn viewed random-review" data-review="random">
                    <span class="btn-text">Viewed</span>
                    <span class="loader btn-pending"></span>
                </button>
            </div>
        </div>
        <div class="to convert">
            <a href="">convert to Farsi</a>
            <a href="">convert to English</a>
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}
<script src="{% static 'js/view.js' %}?{% now 'U' %}"></script>
<!-- <script src="https://code.responsivevoice.org/responsivevoice.js?key=wxAEnWIJ"></script> -->
{% endblock js %}