{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% block head %}
<title>{{obj.text}}</title>
{% endblock head %}

{% block content %}
<div class="random_review">
    <div class="box">
        {% if request.get_full_path|reverse:request %}
        <div>
            <div class="text mr">
                <div class="mr">{{forloop.counter}}</div>
                <div class="mr" id="text"><span>{{obj.translation}}</span></div>
                <div class="mr ">
                    <button class="btn accordion" data-box="translation">see trns</button>
                </div>
                <div class="pronunciation">
                    <img class="icon" src="https://img.icons8.com/ios/50/000000/medium-volume--v1.png"/>
                    <span class="loader btn-pending"></span>
                </div>
            </div>
            <div class="translation mr close-box">
                <span id="translation">{{obj.text}}</span>
            </div>
        </div>
        {% else %}
        <div>
            <div class="text mr">
                <div class="mr">{{forloop.counter}}</div>
                <div class="mr" id="text"><span>{{obj.text}}</span></div>
                <div class="mr ">
                    <button class="btn accordion" data-box="translation">see trns</button>
                </div>
                <div class="pronunciation">
                    <img class="icon" src="https://img.icons8.com/ios/50/000000/medium-volume--v1.png"/>
                    <span class="loader btn-pending"></span>
                </div>
            </div>
            <div class="translation mr close-box">
                <span id="translation">{{obj.translation}}</span>
            </div>
        </div>
        {% endif %}
        <div>
            <div class="info">
                <div class="mr">
                    <span id="type">type : {{obj.type}}</span>
                </div>
                <div class="mr">
                    <span>review count :</span> <span class="review-count" id="r-count"> {{obj.review_count}}</span>
                </div>
            </div>
            <div class="manage">
                <div class="mr">
                    <a href="{% url 'core:edit' pk=obj.pk %}">Edit</a>
                </div>
                <div class="mr">
                    <a href="{% url 'core:delete' pk=obj.pk %}">Delete</a>
                </div>
            </div>
            <div class="date">
                <span id="date">{{obj.created|date:"M d, Y"}}</span>
            </div>
        </div>
    </div>
    <div class="control">
        <div>
            <button id="next" class="btn-linear btn" >
                <span class="btn-text">Next</span>
                <span class="loader btn-pending"></span>
            </button>
            <div class="mr">
                <input type="hidden" name="pk" value="{{obj.pk}}">
                <button class="btn viewed random-review" data-review="random">
                    <span class="btn-text">Viewed</span>
                    <span class="loader btn-pending"></span>
                </button>
            </div>
        </div>
        <div class="to">
            <a href="{{request.get_full_path|url}}ln=fa">convert to Farsi</a>
            <a href="{{request.get_full_path|url}}ln=en">convert to English</a>
        </div>
    </div>
</div>
{% endblock content %}

{% block js %}
<script src="{% static 'js/view.js' %}?{% now 'U' %}"></script>
<script src="https://code.responsivevoice.org/responsivevoice.js?key=wxAEnWIJ"></script>
{% endblock js %}