{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Fill in the blank</title>
{% endblock head %}


{% block nav %}
    {% include 'inc/nav.html' %}
{% endblock nav %}
    
{% block content %}
<div class="content" style="display:flex;justify-content:center;margin-top: 50px;">
    <div class="vocab dic-box" style="background-color: #323347;border-radius: 10px;">
        <div class="data" data-word="{{word}}"></div>
        <pre class="dictation"></pre>
        <div>
            <span>Translation :</span> <span style="color: #ee6887;">{{word.translation}}</span>
        </div>
        <button class="check-btn btn-linear btn">
            <span class="btn-text">Check</span>
            <span class="loader btn-pending"></span>
        </button>
    </div>
</div>

{% endblock content %}

{% block js %}
<script src="{% static 'js/dictation.js' %}?{% now 'U' %}"></script>
{% endblock js %}