{% load custom_tags %}
<div class="box">
    <div class="text mr">
        <!-- word -->
        <div>
            <div class="mr">{{forloop.counter}}</div>
            <div class="mr">
                <p class="word text-lan">{{obj.word}}</p>
            </div>
        </div>
        <div>
            <!-- translation of word -->
            <div class="mr">
                <button class="accordion" data-box="translation">
                    <img class="trn-icon" src="https://img.icons8.com/external-basicons-line-edtgraphics/50/null/external-languages-signs-basicons-line-edtgraphics.png"/>
                </button>
            </div>
            <!-- pronunciation of word -->
            <div class="pronunciation">
                <img src="https://img.icons8.com/material-rounded/24/null/medium-volume.png"/>
            </div>
        </div>
    </div>
    <div class="translation mr close-box">
        <p>{{obj.translation}}</p>
    </div>
    <div class="word-sentences">
        <p>sentences:</p>
        {% for sentence in obj.sentences.all %}
            <div class="sentence">
                <p>{{sentence.text}}</p>
                <p>{{sentence.translation}}</p>
            </div>
        {% endfor %}
    </div>
    <div>
        <div class="info">
            <div class="mr">
                <span>review count :</span> <span class="review-count"> {{obj.review_count}}</span>
            </div>
        </div>
        <div class="manage">
            <div class="mb">
                <a href="{% url 'core:edit' pk=obj.pk %}">Edit</a>
            </div>
            <div class="mb">
                <a href="{% url 'core:delete' pk=obj.pk %}">Delete</a>
            </div>
            <div>
                <input type="hidden" name="pk" value="{{obj.pk}}">
                <button class="btn viewed random-review" data-review="list">
                    <span class="btn-text">Viewed</span>
                    <span class="loader btn-pending"></span>
                </button>
            </div>
        </div>
        <div class="date">
            <span>{{obj.created|date:"M d, Y"}}</span>
        </div>
    </div>
</div>