<div class="side">
    <div class="links">
        <div class="items">
            <div>
                <a href="{% url 'core:add' %}">Add+</a>
            </div>
            <div>
                <a href="{% url 'core:list' %}">List</a>
            </div>
            <div>
                <a href="{% url 'category:add' %}">Add Category</a>
            </div>
            <div>
                <a href="{% url 'core:random' %}">Random review</a>
            </div>
            <div>
                <a href="{% url 'dictaion:filling' %}">Dictation practice</a>
            </div>
        </div>
        <div class="categories">
            <div>
                <span>{{categories.count}} Categories</span>
            </div>
            <div>
                <ul>
                    {% for obj in categories %}
                    <li><a href="{% url 'category:detail' pk=obj.pk %}">{{obj}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>